@model IEnumerable<Forum.Models.ViewModel.Message.MessageVM>

<div>
@foreach (var item in Model) {
    <dl>
        <dt>UID : @Html.DisplayFor(modelItem => item.UID) 說: </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.Content)
        </dd>  
        <dd>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </dd>
    </dl>
}
</div>