@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1>Forum Demo</h1>
    <p class="lead">This is a demo of forum</p>

    <hr />
    @if (Request.IsAuthenticated && User.IsInRole("User")) {
        <h3>Hi, User</h3>
    } else if (Request.IsAuthenticated && User.IsInRole("Admin")) {
        <h3>Hi, Admin</h3>
    } else {
        <h3>Hi, Vistor</h3>
        <div>
            訪問者請
            <a class="btn btn-link" href="/member/login" role="button">登入</a>
        </div>
        <br />
        <div>
            沒有帳號??
            <a class="btn btn-link" href="/member/register" role="button">Go Register</a>
        </div>
    }

</div>

<div>
    @if (Request.IsAuthenticated && User.IsInRole("User")) {

        <a class="btn btn-link" href="/Member/member-profile" role="button">你的檔案</a>
        <a class="btn btn-link" href="Article/AddPosts" role="button">發表文章</a>
        <a class="btn btn-link" href="Article/Posts" role="button">文章列表</a>

    } else if (Request.IsAuthenticated && User.IsInRole("Admin")) {

        <a class="btn btn-link" href="/Member/member-profile" role="button">你的檔案</a>
        <a class="btn btn-link" href="Article/AddPosts" role="button">發表文章</a>
        <a class="btn btn-link" href="Article/Posts" role="button">文章列表</a>

    }

</div>