@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Demo of Forum</h1>
</div>

<br />

<div>
@if (Request.IsAuthenticated && User.IsInRole("User")) {
    <h4>Hi, User </h4>

    <a class="btn btn-link" href="/Member/member-profile" role="button">你的檔案</a>
    <a class="btn btn-link" href="Article/AddPosts" role="button">發表文章</a>
    <a class="btn btn-link" href="Article/Posts" role="button">文章列表</a>

} else if (Request.IsAuthenticated && User.IsInRole("Admin")) {
    <h4>Hi, Admin</h4>

    <a class="btn btn-link" href="/Member/member-profile" role="button">你的檔案</a>
    <a class="btn btn-link" href="Article/AddPosts" role="button">發表文章</a>
    <a class="btn btn-link" href="Article/Posts" role="button">文章列表</a>

} else {
    <h4>Hello, This is a demo of Forum!!</h4>
    <div>
        訪問者請
        <a class="btn btn-link" href="/member/login" role="button">登入</a>
    </div>
    <br />
    <br />
    <a class="btn btn-link" href="/member/register" role="button">Go Register</a>
}
</div>